.category{
    box-shadow: 1px 2px 6px #888888;
    border-radius: 20px;
}

.category:hover {
    box-shadow: 1px 2px 6px #f57a7a;
}

// .category:hover  .category-label{
//     color: rgb(111, 111, 241);
// }

.margin-30-negative{
    margin-top: -30px;
}

.categoryicon{
    text-align: center;
}
