<div class="moduleContainer">
  <h5 class="grey-color"><span class=" text-info p-0"> <i class="fas fa-arrow-left"></i> Categories</span> | Products</h5>
  <p>Range of products that you can browse.</p>
  <hr class="my-4">
  <div class="row px-3">
    <div class="col-sm-12 col-md-9">
        <label for="searchProduct" class="font-weight-bold">Search Products</label>
        <input id="searchProduct" type="text" class="form-control" name="searchProduct" placeholder="Search">
    </div>
    <div class="col-sm-12 col-md-3">
      <label for="sortSelect" class="font-weight-bold ">Sort By</label>
      <select class="form-control" id="sortSelect">
        <option selected>Newest First</option>
        <option>Oldest First</option>
        <option>Price high to low</option>
        <option>Price low to high</option>
      </select>
    </div>
  </div>
  <div class="p-4">
    <div class="row mt-4">
      <div class="col-12 col-sm-12 col-md-4 col-lg-3 mt-4" *ngFor="let product of productList">
        <div class="card position-relative pointer-cursor product" >
          <div class="p-3">
            <img class="card-img-top prod-image" src="{{product.image}}" alt="Card image cap">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <span class="card-text text-truncate font-weight-bold">{{product.name}}</span>
                <button class="btn  btn-outline-success"><i class="fas fa-cart-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>