<header  #home>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark d-flex justify-content-between">
    <div>
      <img src="../../assets/Images/logo/apple-touch-icon.png" class="logo-img  pb-2"/>&nbsp;<a class="navbar-brand text-white">oshaque</a>
    </div>
    <div class="form-inline mt-2 mt-md-0">
      <div class="position-relative mx-2 " routerLink="cart">
        <i class="fa fa-shopping-cart fa-2x text-white pointer-cursor" aria-hidden="true"></i>
        <span class="position-absolute badge badge-primary">{{this.globalService.cart.productIndexes.length}}</span>
      </div>
      <div class="position-relative">
        <div #toggleButton (click)="showMenu()">
          <i class="fas fa-user-circle fa-2x text-white ml-4 pointer-cursor" aria-hidden="true"></i>
        </div>
        <div class="position-absolute user-options" *ngIf="isOpen">
          <div class="card rounded-border border border-dark">
            <div class="card-body p-0">
              <div class="font-weight-bold mt-2 mx-3">{{this.globalService.userAuth.getFullName()}}</div>
              <div class="d-flex justify-content-center align-items-center py-2 menu-item pointer-cursor">
                <i class="fa fa-key" aria-hidden="true"></i> 
                <span class="ml-2">Admin</span>
              </div>
              <div class="py-2 d-flex justify-content-center align-items-center menu-item pointer-cursor">
                <i class="fa fa-user" aria-hidden="true"></i> 
                <span class="ml-2">Profile</span>
              </div>
              <div class="py-2 d-flex justify-content-center align-items-center menu-item pointer-cursor" routerLink="./my-orders">
                <i class="fas fa-luggage-cart"></i>
                <span class="ml-2">My orders</span>
              </div>
              <div class="py-2 d-flex justify-content-center align-items-center menu-item pointer-cursor" (click)="logout()">
                <i class="fas fa-sign-out-alt"></i>
                <span class="ml-2">Logout</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<div class=" margin-top-carousel">
  <router-outlet></router-outlet>
</div>
<footer class="text-center text-muted w-100 mt-3">
  <p>&copy; 2017-2020 Poshaque, Inc. </p>
</footer>
