.user-options{
    margin-left: -120px;
    width: 170px;
}

.menu-item:hover{
    background-color: #e5e5e5;
    border-radius: 0.5rem;
}

.menu-item{
    background-color: #f3f3f3;
    border-radius: 0.5rem;
}

.rounded-border{
    border-radius: .5rem;
}
